html {
    font-size: 18px;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    margin: 0;
}

.container {
    width: 97%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

header {
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 30px;
}

header .container {
    justify-content: space-between;
}

.logo {
}

.copied {
}

.contact-block {
    display: flex;
    justify-content: space-around;
    margin-top: -14px;
    align-items: center;
}

.contact-phone {
    color: #000;
    text-decoration: none;
    letter-spacing: 0.3px;
    margin-right: 15px;
}

.contact-btn {
}

.order-btn {
    text-decoration: none;
    display: block;
    color: #fff;
    background: #68d000;
    text-align: center;
    box-shadow: 0px 0px 21px 0px rgba(102, 204, 0, 0.49);
    border-radius: 6px;
    margin: 0 auto;
    text-transform: uppercase;
    width: 82.5%;
    padding: 28px 0;
    font-size: 1.22rem;
    letter-spacing: .5px;
}

.call-me-btn, .fourth-section .order-btn {
    width: 180px;
    font-size: 12px;
    border-radius: 50px;
    padding: 18px 0;
}

.first-section {
    padding-top: 81px;
    padding-bottom: 320px;
    background-image: url(../img/first-section-bg.jpg);
    background-size: 100% 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    color: #fff;
}

.first-section .container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.last-chance-p {
    font-size: 2rem;
    color: #fff;
    letter-spacing: 0.7px;
    margin-bottom: 40px;
    position: relative;
}

.last-chance-p::after {
    content: '';
    position: absolute;
    background: #ffff00;
    width: 550px;
    height: 4px;
    bottom: -5px;
    left: calc(50% - 275px);
}

.timer-block {
    display: flex;
    color: #fff;
    justify-content: center;
}

.timer {
    display: flex;
    flex-direction: row;
    width: 225px;
    justify-content: space-between;
}

.digitHolder {
    display: flex;
    flex-direction: column;
    width: 60px;
    position: relative;
}

.digitHolder:not(:last-child)::after {
    content: ":";
    position: absolute;
    font-size: 1.2rem;
    right: -15px;
    top: 18px;
}

.digitNumbers {
    display: flex;
    justify-content: center;
    background: #ffff00;
    color: #000;
    font-size: 1.8rem;
    line-height: 1;
    padding: 14px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.timer-text {
    font-size: 13px;
    order: 1;
    font-weight: 400;
}

.first-section-p {
    font-size: 1rem;
    line-height: 30px;
    margin: 0 auto;
    text-align: center;
    width: 78%;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

.first-section-slogan {
    border: 4px solid #ffff00;
    font-size: 3rem;
    text-align: center;
    width: calc(100% - 8px);
    line-height: 3rem;
    padding: 34px 0 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffff00;
    margin: 0 auto;
    margin-top: 34px;
    margin-bottom: 24px;
}

.first-section-slogan .first-line {
    display: block;
    width: 100%;
}

.promo-p {
    font-size: 16px;
}

.promo-code {
    display: inline-block;
    padding: 4px 13px;
    border: 1px dashed #fff;
    margin: 0 5px;
}

.second-section {
    background-color: #f6f6f6;
    padding-bottom: 60px;
}

.second-section .container {
    flex-direction: column;
    justify-content: center;
}

.video-block,.main-video {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    margin-top: -130px;
}

.second-section .order-btn {
    margin-top: 60px;
}

.second-section__price {
    text-align: center;
    font-size: 1.67rem;
    margin-top: 20px;
    letter-spacing: .5px;
}

.third-section .container {
    flex-direction: column;
    align-items: center;
}

.reviews-section {
}

.reviews-section-heading {
    font-size: 1.67rem;
    text-transform: uppercase;
    margin-top: 118px;
    letter-spacing: .5px;
    margin-bottom: 18px;
}

.reviews-section-second-heading {
    font-size: 1.44rem;
    text-transform: uppercase;
    width: 60%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
    letter-spacing: .6px;
}

.reviews-block {
    width: 100%;
}

.reviews-block__video-column {
}

.review {
    display: flex;
    justify-content: space-between;
}

.review:not(:first-child) {
    margin-top: 34px;
}

.review-video {
    max-width: 390px;
}

.reviews-block__review-column {
    max-width: 625px;
    padding-top: 18px;
}

.review:nth-child(2n) .reviews-block__review-column {
    order: -1;
}

.review-column_name {
    margin-bottom: 10px;
}

.review-column_years {
    font-size: 14px;
    font-weight: 300;
    margin-top: 0;
}

.review-column_review {
    margin-top: 25px;
    font-size: 0.89rem;
    line-height: 1.6;
    padding: 43px 50px;
    font-style: italic;
    position: relative;
    background: #f6f6f6;
}

.review-column_review::after {
    content: "\201e";
    position: absolute;
    top: -80px;
    color: #ffff00;
    right: 5px;
    font-family: SANS-SERIF;
    padding: 0;
    font-size: 100px;
    font-weight: 600;
    line-height: 1;
}

.third-section .order-btn {
    margin-top: 30px;
}

.fourth-section {
}

.functions-section {
    position: relative;
    padding: 54.6% 0 0;
}

.fourth-section .order-btn {
    width: 200px;
    padding: 20px 0;
    font-size: 0.85rem;
}

.functions-img {
    /* height: 100%; */
    width: 100%;
    width: 112.5%;
    position: absolute;
    left: -20.6%;
    top: 78px;
}

.functions-section-container {
    position: relative;
    color: #fff;
    bottom: 62px;
    display: flex;
}

.functionals-block-column {
    padding-left: 3%;
    width: 61.1%;
    position: relative;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: flex-end;
}

.functionals-block-p {
    font-size: 5.38vw;
    margin-top: 0;
    font-family: Roboto;
    margin-bottom: 0;
    font-weight: 500;
    letter-spacing: -1px;
}

.protection {
    position: absolute;
    margin: 0;
    color: #000;
    width: 250px;
    text-align: center;
    top: 24px;
    right: -21px;
    background: #ffff00;
    padding: 7px 0px 7px 0px;
}

.order-column {
    width: auto;
    margin-left: 8.8%;
    align-self: center;
}

footer {
    background-image: url(../img/footer-bg.jpg);
    background-size: cover;
    margin-top: 70px;
    text-align: center;
    padding: 25px 0;
}

.credits {
    font-size: .85rem;
    font-weight: 300;
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.5;
}

.credits::after {
    content: "";
    position: relative;
    bottom: -32px;
    background: #fff;
    width: 57%;
    height: 1px;
}

.payment_methods {
    display: flex;
    justify-content: space-around;
    width: 32%;
    margin: 0 auto;
    margin-top: 70px;
}

.payment-icon {
}

.cart-popup {
}

.hide-block {
    display: none;
}

.cart-overlay {
}

.cart-tabs-block {
}

.tab-1 {
}

.cart-tab {
}

.tab-num {
}

.tab-description {
}

.cart-block {
}

.slider-block {
}

.step-1 {
}

.model-choose {
}

.model-choose-input {
}

.step-2 {
}

.size-choose {
}

.size-choose-input {
}

.step-3 {
}

.step-left-column {
}

.form-column {
}

.form-title {
}

.form-column-p {
}

.form-phone-block {
}

.step-left-column-p {
}

.step-column-p {
}

.step-right-column {
}

.info-column {
}

.ordered-model-info-block {
}

.ordered-model-info-block__left-column {
}

.ordered-model-img {
}

.ordered-model-info-block__right-column {
}

.ordered-model-name {
}

.ordered-model-size {
}

.ordered-model-price {
}

.delivery-info {
}

.delivery-heading {
}

.info-column-p {
}
